<div class="pokemon-list">
  <ng-container *ngFor="let pokemon of pokemons" [ngSwitch]=pokemon.types.length>
    <a md-raised-button *ngSwitchCase=1 [ngStyle]="{'background-color':pokemon.types[0].color}" [routerLink]="['/pokemon', pokemon.id]" class="pokemon-button md-accent">{{pokemon.name | uppercase}}</a>
    <a md-raised-button *ngSwitchCase=2 [ngStyle]="{'background':'linear-gradient(to right, ' + pokemon.types[0].color + ',' + pokemon.types[0].color + ',' + pokemon.types[1].color + ',' + pokemon.types[1].color + ')'}" [routerLink]="['/pokemon', pokemon.id]" class="pokemon-button md-accent">{{pokemon.name | uppercase}}</a>
    <a md-raised-button *ngSwitchDefault [routerLink]="['/pokemon', pokemon.id]" class="pokemon-button md-accent">{{pokemon.name | uppercase}}</a>
  </ng-container>
</div>
